body{
    background-color: beige;
}
.form{
    background-color: cadetblue;width: 700px;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}
.formsubmit{
    background-color: white;
    border:0;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    margin-left: 10%;
}
.formsubmit:hover{
    background-color: rgb(220, 220, 248);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
   margin-right: 10%;

}